.home {
  overflow: hidden;

  &__container {
    position: relative;
    // height: calc(100vh - 3rem);
    grid-template-rows: repeat(2, max-content);
    align-content: space-around;
    row-gap: 2rem;
  }

  &__data {
    border-left: 4px solid #ffd9a0;
    color: white;
    padding-left: 1.5rem;
    z-index: 10;
    padding-top: .5rem;
    margin-top: 80%;
    @media screen and (min-width: 768px) {
      margin-top: 45%;
      padding-left: 2.5rem;
      margin-left: 1rem;
    }
    @media screen and (min-width: 1025px) {
      margin-top: 15%;
      margin-left: 3rem;
    }
  }

  &__name {
    font-size: 2.1rem;
    padding: .5rem 0;
    @media screen and (min-width: 768px) {
      font-size: 4.5rem;
    }
  }

  &__greeting, &__profession {
    display: block;
    font-weight: bold;
    font-size: 1rem;
    color: #ffd9a0;
    @media screen and (min-width: 768px) {
      font-size: 2rem;
    }
  } 

  &__profession {
    padding-top: .3rem;
    margin-bottom: 2.5rem;
  }

  &__social {
    display: flex;
    padding-top: 3rem;
    @media screen and (min-width: 1025px) {
      margin-left: 3rem;
    }
  }

  &__social-icon {
    width: max-content;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: white;
    padding-right: 1rem;
    font-size: 2rem;
    @media screen and (min-width: 768px) {
      font-size: 3rem;
      margin-left: 1rem;
    }
  }

  &__social-icon:hover {
    color: #7B6F72;
  }

  &__photo {
    display: none;
    @media screen and (min-width: 1025px) {
      display: block;
      position: absolute;
    }
  }
  &__card-photo{
    display: none;
    @media screen and (min-width: 1025px) {
      display: block;
      width:250px;
      height:250px;
      border-radius: 50%;
      position: relative;
      margin-top: -16rem;
      margin-left: 90rem;
      opacity: 0.9;
    }
  }
}

.button {
  display: inline-block;
  border: 1px solid white;
  color: white;
  padding: .75rem 1rem;
  border-radius: .25rem;
  transition: .3s;
  @media screen and (min-width: 768px) {
    font-size: 2rem;
    border: 2px solid white;
  }
}

.button:hover {
  color: #7B6F72;
}

.button-light {
  background-color: #7B6F72;
}


