.projet {
  position: relative;
  top: 0;
  left: 0;
  &__content {
    margin-top: 15px;
    @media screen and (min-width: 1024px) {
      position: absolute;
      top: -15px;
      left: 0px;
      height: 100%;
      width: 100%;
      background-color: rgba($color: #0a0c19, $alpha: 0.7);
      z-index: 10000;
    }
  }

  &__text {
    @media screen and (min-width: 1024px) {
      padding-top: 18%;
      font-size: 18px;
      margin: 0 5rem;
    }
  }

  &__title {
    padding-top: 2rem;
    margin-bottom: 3rem;
    @media screen and (min-width: 768px) {
      padding-top: 11rem;
    }
    @media screen and (min-width: 1024px) {
      padding-top: 6rem;
    }
    @media screen and (min-width: 1025px) {
      padding-top: 6rem;
    }
  }
}

.allProjects {
  max-height: 40rem;
  width: 100%;
}

.slick-dots li.slick-active button:before {
  color: white;
  margin-top: 15px;
}

.slick-dots li button:before {
  color: white;
  margin-top: 15px;
}

.clickMe {
  color: white;
  padding-top: 10rem;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  &:hover {
    color: rgb(165, 165, 165);
    transition: 0.3s;
  }
}

.slick {
  &-next {
    right: -35px;
    &:before {
      content: url('src/assets/img/chevron-right-solid.svg');
    }
  }
  &-prev {
    left: -35px;
    &:before {
      content: url('src/assets/img/chevron-left-solid.svg');
    }
  }
}
