.accueil ul li a{
    text-decoration: underline;
}

.accueil {
    position: relative;
    &__container {
        position: absolute;
        top: 25%;
        right: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__background img {
        height: 100vh ;
        width: 99vw;
        transform: scaleX(-1);
    }
}