@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  overflow-y: scroll;
  background-color: grey;
}

html {
  scroll-behavior: smooth;
}

*,::before,::after {
  box-sizing: border-box;
}
