.quiz-marvel {
    position: relative;
    font-weight: bold;

    &__container {
        position: absolute;
        top: 25%;
        right: 20%;
        width: 35%;
    }

    &__questions {
        background-color: white;
        padding: 1rem 2rem;
        border-radius: 5px;
        margin: 3rem 0;

        &-number {
            background-color: white;
            padding: 1rem 2rem;
            border-radius: 5px;
            margin-right: 2rem;
        }

        &-progression {
            background-color: white;
            padding: 1rem 2rem;
            border-radius: 5px;
        }
    }

    & .answer {
        cursor: pointer;
        background-color: white;
        padding: 1rem 2rem;
        border-radius: 5px;
        margin-top: 1rem;

        &:hover {
            background-color: rgb(204, 204, 204);
            transition: 0.5s;
        }
    }

    &__next-question, &__show-answer, &__finish, &__start-over, &__back-to-quiz {
        margin-top: 4rem;
        font-size: 20px;
        border-radius: 4px;
        padding: 1rem 2rem;
        border: none;
        color: #000;
        background-color: white;
        cursor: pointer;
        transition: border-color 0.5s, background-color 0.5s, color 0.5s;
        margin-right: 1rem;

        &:hover {
            background-color: black;
            border-color: transparent;
            color: #fff;                
        }
    }

    &__end-answers {
        list-style-type: decimal;
        margin-top: 1rem;
    }

    &__title {
        margin-bottom: 3rem;
    }

    &__background img{
        height: 100vh ;
        width: 99vw;
        transform: scaleX(-1);
    }
}