.About {
  color: white;
  margin: 7rem 2rem 0 2rem;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin: 10rem 3rem 0 3rem;
  }
  @media screen and (min-width: 1024px) {
    margin: 15rem 7rem 0 7rem;
  }
  @media screen and (min-width: 1025px) {
    margin: 20rem 35rem 0 10rem;
  }
  &__title {
    font-size: 2.5rem;
    @media screen and (min-width: 1024px) {
      text-align: left;
      letter-spacing: -2px;
    }
  }
}

// ABOUT ME

.aboutMe {
  &__text {
    text-align: left;
    padding-top: 2.5rem;
    line-height: 1.2rem;
    @media screen and (min-width: 1024px) {
      padding-top: 3rem;
      line-height: 1.4rem;
      font-size: 1.1rem;
    }
  }

  &__strong {
    font-weight: bold;
  }
}

// WORKS

.react-3d-carousel .slider-container .slider-right div {
  border: none;
}

.react-3d-carousel .slider-container .slider-left div {
  border: none;
}

// SKILLS

.skills {
  &__title {
    padding-top: 2rem;
    @media screen and (min-width: 768px) {
      padding-top: 11rem;
    }
    @media screen and (min-width: 1024px) {
      padding-top: 6rem;
    }
    @media screen and (min-width: 1025px) {
      padding-top: 6rem;
    }
  }
}

.wrapperSkills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.7rem;
  margin-top: 2rem;

  & div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #181c23;
    box-shadow: 1px 1px 21px 6px rgba(0, 0, 0, 0.51);
    padding: 1rem;
    text-align: center;

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    & img {
      width: 50px;
    }

    & p {
      margin: 0;
      text-transform: uppercase;
      margin-top: 1rem;
    }
  }
  @media screen and (min-width: 700px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (min-width: 1025px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.skillsToLearn__title {
  font-size: 1.5rem;
  padding-top: 2rem;
  @media screen and (min-width: 1024px) {
    letter-spacing: 0px;
  }
}

.wordpress-logo {
  height: 70%;
}
