.bd-container {
  width: calc(100% - 2rem);
  margin: 0 1rem;
  color: white;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: .5rem .5rem;
  background-color: black;
  @media screen and (min-width: 768px) {
    padding: 1.5rem 1.5rem;
  }
  @media screen and (min-width: 1024px) {
    position: absolute;
    padding: 2rem 2rem;
    background-color: transparent;
    display:flex; 
    justify-content: space-between;
    align-items: center;
    // border-bottom: 1px solid white;
  }

  &__border {
    @media screen and (min-width: 1025px) {
      border-bottom: 1px solid white;
      padding-bottom: 7rem;
      width: 55rem;
      color: white;
    }
  }
}

.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu { 
    padding-top: 1.5rem; 
    @media screen and (max-width: 1023px) {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      padding-left: 1.5rem;
      text-align: center;
      transition: .4s;
      border-radius: 0 0 1rem 1rem;
      background-color: black;
    }
    @media screen and (min-width: 768px) {
      margin-top: 2rem;
      font-size: 1.5rem;
    }
    @media screen and (min-width: 1024px) {
      margin-top: 11rem;
    }
    @media screen and (min-width: 1025px) {
      margin-top: 1rem;
    }
  }

  &__list {
    @media screen and (min-width: 1024px) {
      display:grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 12.5vh 12.5vh;
      align-items: center;
      padding-top: .5rem;
      font-size: 2rem;
    }
    @media screen and (min-width: 1025px) {
      padding-top: 4.5rem;
      font-size: 1.75rem;
    }
  }
  
  &__item {
    margin-bottom: 1.5rem;
  }

  &__link {
    color: white;
    transition: .3s;
  }

  &__link:hover {
    color: rgb(165, 165, 165);
    transition: .3s;
  }

  &__logo, &__toggle {
    color: white;
    font-size: 1.7rem;
    @media screen and (min-width: 768px) {
      font-size: 2.5rem;
    }
    @media screen and (min-width: 1024px) {
      font-size: 4rem;
    }
    @media screen and (min-width: 1025px) {
      font-size: 3rem;
    }
  }

  &__toggle {
    cursor: pointer;
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
}

.show-menu {
  top: 4rem;
}

.nav__item .active{
  position: relative;
}

.nav__item .active::after {
  content: '';
  position: absolute;
  bottom: -.7rem;
  left: 0;
  width: 65%;
  height: 3px;
  background-color: white;
}

.scroll-header{
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.scroll-header .nav__logo, .scroll-header .nav__toggle, .scroll-header .nav__link {
  color: #2F0A0D;
}

.scroll-header .nav__menu {
  background-color: white;
}

.bx-x {
  display: none;
}

